.container {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 2rem;
}

.yearLabel {
    font-size: 0.8rem;
    height: 0;
    min-width: 20px;
}

.yearRow {
    display: flex;
    height: 1rem;
    gap: 2px;
}

.circle {
    height: 16px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: transparent;
}

.circle:hover {
    transform: scale(1.5);
    z-index: 1;
}

.past {
    background: var(--ifm-color-primary);
    border-color: var(--ifm-color-primary);
}

.current {
    background: var(--ifm-color-success);
    border-color: var(--ifm-color-success);
    animation: pulse 2s infinite;
}

.legend {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.legendItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.legendItem .circle {
    width: 20px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}